.room_list_joined{
    background: rgb(249,167,104); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(249,167,104,1) 0%, rgba(247,164,49,1) 51%, rgba(247,148,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(249,167,104,1) 0%,rgba(247,164,49,1) 51%,rgba(247,148,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(249,167,104,1) 0%,rgba(247,164,49,1) 51%,rgba(247,148,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a768', endColorstr='#f79400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    margin-top:10px;
    p{
        width:100%;
    }
}
.room{
    padding:5px;
    margin-bottom:5px;
    margin-left:5px;
    margin-right:5px;
    border-radius:10px;
    border-top:2px solid grey;
    border-bottom:2px solid grey;

}
.selected_room{
    border-top:3px solid green;
    border-bottom:3px solid green;
    // border-color:green;
    
    div{
        .select_room{
            background-color:lightgreen;
        }
    }
}
.no-padding{
    padding:0!important;
}
.select_room{
        width:100%;
        background-color:grey;
        border:none;
        border-radius:10px;
        margin:1px;
    
}