.container-fluid{
    height:100vh;
    .components{
        flex-grow: 5;
        height:92vh;
        border:1px solid green;
    }
}
.title_bar_container{
    // border:1px solid red;
    width:100%;
    min-height:8vh;
    height:8vh;
    max-height:8vh;
    background: rgb(249,167,104); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(249,167,104,1) 0%, rgba(247,164,49,1) 51%, rgba(247,148,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(249,167,104,1) 0%,rgba(247,164,49,1) 51%,rgba(247,148,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(249,167,104,1) 0%,rgba(247,164,49,1) 51%,rgba(247,148,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a768', endColorstr='#f79400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    .profilepic{
        width:50px;
        border-radius: 100%;
        position: absolute;
        left: 10px;
        border: 2px solid darkorange;        
    }
    .title{
        // border:1px solid red;
        font-weight:700;
        
        p{
            // border:1px solid red;
            
        }
        
    }
    .logout_button{
            background-color:orangered;
            position: absolute;
            right:20px;
            
        }

}